/* Background Image */
body {
    background: url("../Assets/images/vecteezy_junk-food-seamless-pattern-background_7660940.jpg");
}
/* Heading */
h1 {
    font-family: 'Mukta', sans-serif;
    text-align: center;
}

#Heading {
    width: 100%;
    height: 10rem;
    background-color: rgb(8, 7, 7);
    opacity:0.8;

}

/* Search Box */
#search {
    width: 100%;
    height: 10rem;
    background-color: rgb(8, 7, 7);
    opacity:0.8;
    margin-top: 2%;
}